
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #050404;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(243, 243, 243);
    text-align: center;
}
#loo{
    background-image:url(img/hombre-tocando-guitarra_1048944-15117605.jpg)
    ;
    background-size: cover;
    background-position: center;
    
    color: rgb(243, 243, 243);
    padding: 20px;
    text-align: center;
    font-size: 20px;
border;}

<style>
        
        }

        header {
            background-color: #fff6f6;
            color: rgb(85, 24, 24);
            padding: 20px;
            text-align: center;
        }

        

        nav a {
            color: rgb(243, 243, 243);
            margin: 0 15px;
            text-decoration: none;
        }

        nav a:hover {
            text-decoration: underline;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
        }

        .product {
            background-color: rgb(184, 22, 22);
            border: 1px solid #000000;
            border-radius: 5px;
            width: 250px;
            margin: 15px;
            padding: 15px;
            text-align: center;
            box-shadow: 10px 20px 30px rgb(240, 137, 3);
        }

        .product img {
            width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .product h3 {
            margin-top: 10px;
        }

        footer {
            background-color: #fff6f6;
            color: rgb(207, 185, 185);
            text-align: center;
            padding: 15px;
            margin-top: 40px;
        }
    </style>

footer {
    background-color: #ecd4d4;
    color: rgb(243, 243, 243);
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.vst {
    background-color: #ee0b0b;
    color: rgb(243, 243, 243);
    padding: 200px;
    text-align: center;
    font-size: 20px;
    margin: 50px 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%
    
    
}













.comentarios {
    width: 60%; 
    margin: auto; 
}


.comentario {
    
    background-color: #128507; 
    border-left: 5px solid #0b1b61; 
    padding: 20px; 
    margin-bottom: 20px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.comentario h3 {
    margin-top: 0;
    color: #eaf0ea; 
}


.comentario p {
    color: #333;
    line-height: 1.5;
}